{% extends 'index.html' %}
{% load static %}

{% block content %}
    <table class="table  table-striped ">
        <thead>
        <tr>
            <th scope="col">User Photo</th>
            <th scope="col">Full name user</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Phone number</th>
            <th scope="col">Birth_date</th>
            <th scope="col">Profile</th>
        </tr>
        </thead>
        <tbody>

        {% for user in user_profile_list %}
            <tr>
                {% if user.image_user %}
                    <th scope="row"><img src="{{ user.image_user.url }}" width="50" height="50"></th>
                {% else %}
                    <th scope="row"><img src="{% static 'student/img/free-icon-hacker-924915.png' %}" width="50"
                                         height="50"></th>
                {% endif %}
                <td>{{ user.user.username }} {{ user.user.last_name }}</td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.birth_date }}</td>


                <td style="width: 150px;">
                    <a type="button" class="btn btn-success"
                       href="{% url 'user_profile' user.pk %}">Profile</a>
                </td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}