{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <img src="{% static 'main/img/images.png' %}" alt="Screenshot">
    <h1>404 - Страница не найдена</h1>
    <p>Извините, запрашиваемая страница не найдена.</p>
    <p>Возможно, вы перешли по неверной ссылке или страница была удалена.</p>
{% endblock content %}