<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .group-info {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }
        .group-info h2 {
            margin-top: 0;
        }
        .group-info p {
            margin: 10px 0;
        }
        .edit-form {
            margin-top: 20px;
        }
        .edit-form label {
            display: block;
            margin-bottom: 5px;
        }
        .edit-form input[type="text"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .edit-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .edit-form input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="group-info">
        <h2>Group Information</h2>
        <p><strong>Name:</strong> {{ group.name_group }}</p>
        <p><strong>Classroom:</strong> {{ group.classroom }}</p>
        <p><strong>Start Time:</strong> {{ group.start_time }}</p>
        <p><strong>End Time:</strong> {{ group.end_time }}</p>
        <p><strong>Weekday:</strong> {{ group.weekday }}</p>
        <p><strong>Max Students:</strong> {{ group.max_students }}</p>
    </div>
</body>
</html>
