{% extends 'index.html' %}

{% block content %}
    <table class="table  table-striped ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name group</th>
            <th scope="col">Classroom</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Weekday</th>
            <th scope="col">Max students</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <th scope="row"> {{ group.pk }}</th>
                <td>{{ group.name_group }}</td>
                <td>{{ group.classroom }}</td>
                <td>{{ group.start_time }}</td>
                <td>{{ group.end_time }}</td>
                <td>{{ group.weekday }}</td>
                <td>{{ group.max_students }}</td>
                <td>
                    <a type="button" class="btn btn-success" href="{% url 'groups:update_group' group.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger" href="{% url 'groups:delete_group' group.pk %}">Delete</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}