{#{% extends 'index.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{#    <form method="post" style="width: 25em; margin: auto; margin-top: 100px;">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input type="submit" class="btn btn-warning" value="Delete">#}
{#    </form>#}
{#{% endblock content %}#}

{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Вы уверены, что хотите удалить студента {{ student_name }}?</h2>
    <form method="post" style="width: 25em; margin: auto; margin-top: 100px;">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{% endblock content %}