{% extends 'index.html' %}
{% load static %}

{% block content %}
    <table class="table  table-striped ">
        <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Edit</th>
            <th scope="col">Resume</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                {% if student.image_student %}
                    <th scope="row"><img src="{{ student.image_student.url }}" width="50" height="50"></th>
                {% else %}
                    <th scope="row"><img src="{% static 'student/img/free-icon-hacker-924915.png' %}" width="50"
                                         height="50"></th>
                {% endif %}
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.grade }}</td>
                {% if student.birth_date %}
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown</td>
                    <td>Unknown</td>
                {% endif %}

                <td style="width: 150px;">
                    <a type="button" class="btn btn-success"
                       href="{% url 'students:update_student' student.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'students:delete_student' student.pk %}">Delete</a>
                </td>
                <td>
                    {% if student.resume_student %}
                        <a type="button" class="btn btn-info" href="{{ student.resume_student.url }}">Resume
                            PDF</a>
                    {% else %}
                         ---
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}