{% extends 'index.html' %}
{% load static %}

{% block content %}
    <table class="table  table-striped ">
        <thead>
        <tr>
            <th scope="col">Teacher</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Salary</th>
            <th scope="col">Years of experience</th>
            <th scope="col">Speciality</th>
            <th scope="col">Edit</th>
            <th scope="col">Group</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                {% if teacher.image_teacher %}
                    <th scope="row"><img src="{{ teacher.image_teacher.url }}" width="50" height="50"></th>
                {% else %}
                    <th scope="row"><img src="{% static 'teachers/img/img_2.png' %}" width="50" height="50"></th>
                {% endif %}
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.salary }}</td>
                <td>{{ teacher.years_of_experience }}</td>
                <td>{{ teacher.speciality }}</td>
                <td>
                    <a type="button" class="btn btn-success"
                       href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'teachers:delete_teacher' teacher.pk %}">Delete</a>
                <td>
                    {% for group in teacher.group.all %}
                        <a type="button" class="btn btn-primary"
                           href="{% url 'groups:info_group' group.pk %}">{{ group.name_group }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}

